@font-face {
  font-family: 'Comic Sans local';
  src: url('/COMIC.ttf');
  font-style: normal;
}

html,
body, 
button {
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", "Comic Sans local", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('/johmy.gif');
  cursor: url('/cursor.png'), auto;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  color: #0000ff;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}

.subPage {
  display: flex;
  overflow: hidden;
}

.construction {
  text-align: center;
}

.rainbowText {
  background-color: #8000ff;
  color: #111;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.rainbowText:hover, .rainbowTextTitle {
  -webkit-animation: rainbow 2s infinite;
  animation: rainbow 2s infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-color: #ff0000;
  }
  10% {
    background-color: #ff8000;
  }
  20% {
    background-color: #ffff00;
  }
  30% {
    background-color: #80ff00;
  }
  40% {
    background-color: #00ff00;
  }
  50% {
    background-color: #00ff80;
  }
  60% {
    background-color: #00ffff;
  }
  70% {
    background-color: #0080ff;
  }
  80% {
    background-color: #0000ff;
  }
  90% {
    background-color: #8000ff;
  }
  100% {
    background-color: #ff0080;
  }
}

@keyframes rainbow {
  0% {
    background-color: #ff0000;
  }
  10% {
    background-color: #ff8000;
  }
  20% {
    background-color: #ffff00;
  }
  30% {
    background-color: #80ff00;
  }
  40% {
    background-color: #00ff00;
  }
  50% {
    background-color: #00ff80;
  }
  60% {
    background-color: #00ffff;
  }
  70% {
    background-color: #0080ff;
  }
  80% {
    background-color: #0000ff;
  }
  90% {
    background-color: #8000ff;
  }
  100% {
    background-color: #ff0080;
  }
}

.text-area {
  background-color: limegreen;
  border: 7px inset purple;
  padding: 1em;
  position: relative;
  overflow: scroll;
  max-height: 85vh;
}

/* Bouncing Text */
.bouncing {
  color: limegreen;
  position: relative;
  width: 85%;
  height: 100%;
  margin: 0;
  text-align: left;
  /* Apply animation to this element */	
  -moz-animation: bouncing 3s linear infinite alternate;
  -webkit-animation: bouncing 3s linear infinite alternate;
  animation: bouncing 3s linear infinite alternate;
}
 /* Move it (define the animation) */
@-moz-keyframes bouncing {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes bouncing {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(0%); }
}
@keyframes bouncing {
  0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
  }
  100% { 
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%); 
  }
}

/* Scrolling Text */
.scrolling {
  color: limegreen;
  position: relative;  
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  /* Apply animation to this element */	
  -moz-animation: scrolling 7s linear infinite;
  -webkit-animation: scrolling 7s linear infinite;
  animation: scrolling 7s linear infinite;
}
 /* Move it (define the animation) */
@-moz-keyframes scrolling {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scrolling {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
 @keyframes scrolling {
  0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
  }
  100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
  }
}