.sidebar {
  background-image: url('/water.png');
  border: 4px inset yellow;
  padding: 1em;
  width: 350px;
  height: 100vh;
  overflow: scroll;
  text-align: center;
}

.links {
  margin: 25px 15px;
}

.link {
  background-color: blueviolet;
  color: chartreuse;
  font-weight: 700;
  border: 2px inset yellow;
  margin: 5px;
  padding: 5px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .sidebar {
    width: 20%;
    min-width: 200px;
  }
}